
@{

    ViewBag.Title = "Crear o editar noticia";
}

@using Stocker.Models
@model Productos

@using (Html.BeginForm("ValidarProdu", "Backoffice", new { Accion = ViewBag.Accion }, FormMethod.Post, new {enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.IdProducto)
    <p>Tipo de prenda</p>@Html.DropDownListFor(model => model.FkTipoPrenda, new SelectList(ViewBag.ListaTipoProdu, "IdTipoPrenda", "NombreTipoPrenda"))
    <p>Sexo</p>@Html.DropDownListFor(model => model.FkSexo, new SelectList(ViewBag.ListaTipoProdu, "IdSexo", "NombreSexo"))
    <p>Equipo</p>@Html.DropDownListFor(model => model.FkEquipo, new SelectList(ViewBag.ListaTipoProdu, "IdEquipo", "NombreEquipo", "FkTipoEquipo"))
    <p>Titulo</p>@Html.TextBoxFor(model => model.Titulo)@Html.ValidationMessageFor(model => model.Titulo)<br />
    <p>Descipcion</p> @Html.TextBoxFor(model => model.Descipcion) <br />
    <p>Imagen</p> @Html.TextBoxFor(model => model.ImagenFile, new { type = "file" }) @Html.ValidationMessageFor(model => model.Imagen)<br />
    <p>Precio</p> @Html.TextBoxFor(model => model.Precio) <br />

    <input type="submit" value="Finalizar">
}


